@import "services/varaibles.module";

.article {
  margin: 0 auto;
  padding: 160px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 17px;
  }

  p {
    font-size: 30px;
    font-weight: 500;

  }
}
