@import "services/varaibles.module";

.basketCard {
  width: 100%;
  height: 180px;
  fill-rule: evenodd;
  display: flex;
  border-top: 1px solid $white-1;

  &:last-child {
    border-bottom: 1px solid $white-1;
  }

  .image {
    margin-right: 30px;
  }

  .price, .size {
    font-size: 14px;
    margin: 7px 0;
    color: $black-2;
  }

  .product {
    width: 60%;
    display: flex;
  }

  .aboutGoods {
    padding: 10px;
  }

  .name {
    text-decoration: none;
    font-size: 18px;
    color: $black;
    padding-top: 10px;
  }

  .quantity {
    padding-top: 10px;
    display: flex;
    max-height: 47px;
    align-items: center;
    width: 20%;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .total {
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20%;

    .trashIcon {
      cursor: pointer;
      fill: $black-1;
    }
  }
}
