@import "services/varaibles.module";

.header {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  font-size: 22px;
  color: $white;
  height: 100px;
  position: sticky;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  .basket {
    width: 33.33%;
    stroke: $white;
    fill: $white;
    display: inline-block;
    fill-rule: evenodd;
    text-align: end;

    .navLinkBag {
      color: $white;
      margin-right: 20px;
      position: relative;

      .basketLogo {
        fill: $white;
        height: 30px;
        width: 30px;
      }

      .basketQuantity {
        color: $white;
        background: $red;
        position: absolute;
        border-radius: 30px;
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 700;
        top: -16px;
        right: -5px;
      }
    }
  }

  .nav {
    width: 33.33%;

    .navLink {
      color: $white;
      margin-right: 20px;
    }
  }

  .logo {
    width: 33.33%;
    text-align: center;
  }
}

.down {
  top: -100px;
}
