@import "services/varaibles.module";

.homePage {
  display: flex;
  flex-wrap: wrap;
}

.introImage {
  width: 100%;
  object-fit: cover;
  filter: brightness(.7);
}

.productWrapper {
  display: flex;
  width: 100%;

  .productImagesWrapper {
    width: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .productOptionsWrapper {
    width: 40%;
  }
}
